.xbar_default {
  /* Reset the default appearance */
  -webkit-appearance: none;
  appearance: none;
  display : block;
}
.xbar_default::-webkit-progress-bar {
  background-color: #eee;
}
.xbar_mp::-webkit-progress-value {
  background-color: #77f;
}
.xbar_chan::-webkit-progress-value {
  background-color: #aaa;
}

.xbar_stun::-webkit-progress-value {
  background-color: #eee;
}
.xbar_stun::-webkit-progress-bar {
  background-color: #333;
}
.xbar_xp::-webkit-progress-value {
  background-color: #fc0;
}